.container{  
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 1fr;
}

.content_box{
    border: solid red 1px; 
    display: grid; 
    justify-content: start;
    align-items: start; 
    height: fit-content;
}
.main_content h1{
    color: #363031;
    font-weight: bold;
    font-size: 48px; 
}

.text p{
    color: #363031;
    font-size: 24px;
}

.image_box{
    height: 300px;
    background: #A36A4F;
}

.button{
    background-color: #A36A4F;
    border-radius: 36px;
    padding: 14px 36px;
    font-size: 24px;
    color: #FFFFFF;
    max-width: 180px;
}